---
extends: "default"
# Rules found at: https://yamllint.readthedocs.io/en/stable/rules.html
rules:
  comments:
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 1
  empty-lines:
    max: 1
    max-start: 0
    max-end: 0
    level: "error"
  line-length:
    max: 100
    level: "error"
  quoted-strings:
    required: true
    quote-type: "double"
    level: "error"
  truthy:
    check-keys: false # mostly to allow GitHub Actions' "on" key to pass
